.section-hero {
  background: url(https://cdn.searchkings.ca/img/assets/hero-banner-50083d4d6b.jpg) no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.hero-text-box {
  padding: 5rem 0;
  text-align: center;
}

.hero-text-box ul {
  display: flex;
  align-content: center;
  justify-content: center;
}

.hero-text-box ul li {
  padding: 1rem;
  margin: 0.8rem;
}

.heading-primary{
  text-transform: uppercase;
  font-size: 5.5rem;
  line-height: 1.2;
  font-weight: 800;
  color: #eee;
  text-shadow: 1px 1px 2px #006937;
}





.navbar-light .navbar-nav .nav-link {
  font-size: 1.6rem;
  color: #151515;
  text-transform: uppercase;
  margin-right: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo {
  background: #006937;
  color: #fff;
  font-weight: 200;
  display: block;
  padding: 1.5rem;
}

.promo-btn {
background-color: #fff;
text-decoration: none;
line-height: 1.1;
padding: 1.2rem;
border-radius: 6rem;
font-weight: 700;
font-size: 1.6rem;
text-align: center;
margin: 1rem 0;
display: inline-block;
transition: all .3s;
color:#151515;
}