.global-header .header-top {
  padding: 25px 0 10px;
  background: linear-gradient(to right, #ed213a, #93291e);
}

.header-logo {
  display: inline-block;
  margin: 10px auto;
  padding: 5px;
  width: 85%;
}

.global-header .header-top button {
height: 30px;
background-color:  #006399;


}

.nav-toggler button {
  cursor: pointer;
  background: 0 0;
  color: #006937;
  text-align: center;
  font-size: 2rem;
  padding: 0;
  border: 0;
}