.footer{
  min-height: 8rem;
}
.footer-top{
    background-color: #1f3f49;
    text-align: center;
    padding: 3rem 0;
}

  .right {
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-top .general-info .text {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.6rem;
    line-height: 1.2;
  }

  .footer-top .general-info .sub-text {
    font-family: "Open Sans", Helvetica, sans-serif;
    display: block;
    text-transform: uppercase;
    color: #fff; 
    font-size: 1.4rem;
  }

  .general-info .right .info-items {
    margin-top: 0;
}
  .footer .footer-top .general-info .icon {
    margin-right: 1rem;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
}

  .general-info .info-items .icon .fas {
    height: 100%;
    font-size: 18px;
    color: #fff;
}
  
  .info-items .text {
    margin-right: 3rem;
  }
  
  .footer-bottom {
    font-weight: 500;
    color: #fff;
    padding: 2rem 0;
    background-color: #151515;
    text-align: center;
    }

    .footer .footer-bottom a, .footer .footer-bottom a:active, .footer .footer-bottom a:hover, .footer .footer-bottom a:visited {
      color: #fff;
  }
    
    .footer .policy {
      font-size: 1.2rem;
      margin: 0.5rem;
      text-decoration: underline;
    }